<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img style="height: 400px;" src="https://elements-cover-images-0.imgix.net/349af3d6-763a-4ddd-b78f-777271fbf93f?auto=compress&crop=edges&fit=crop&fm=jpeg&h=630&w=1200&s=834c589456e4dc7ae06e1fe94c1d622c" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img style="height: 400px;" src="https://elements-cover-images-0.imgix.net/349af3d6-763a-4ddd-b78f-777271fbf93f?auto=compress&crop=edges&fit=crop&fm=jpeg&h=630&w=1200&s=834c589456e4dc7ae06e1fe94c1d622c" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img style="height: 400px;" src="https://elements-cover-images-0.imgix.net/349af3d6-763a-4ddd-b78f-777271fbf93f?auto=compress&crop=edges&fit=crop&fm=jpeg&h=630&w=1200&s=834c589456e4dc7ae06e1fe94c1d622c" class="d-block w-100" alt="...">
    </div>
  </div>
</div>