<div class="container" style="width: 500px;margin-top:150px;border:2px solid black;box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">
    <h1 style="text-align: center;color:Red"> <b>LOGIN</b> </h1>
    <form action="/seller/userLogin" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-primary">LOGIN</button>
   {{!-- <a href="/seller/register" class="btn btn-danger"> REGISTER</a> --}}
  <br><br>
</form>
</div>








