<b >OFFERS</b>
<div class="container">
    {{#each offer}}
    <div class="card bg-dark text-white">
  <img style="height: 200px;" src="/images/offer/{{this.img}}" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title" style="color: black;"><b>{{this.mail}}</b> </h5>
   
  </div>
</div style="font-size: 30px; text-align:center;margin-left:40px;margin-top:50px">
<br>
<br><br>  
{{/each}}
</div>
<br>
<br>
br